<div class="teaser">
	<div class="container">
		<ul>
			<li>
				<h3>Easy Payments</h3>
				<p>No need to collect cash in advance. We allow for each shirt to be paid for separately by each buyer.</p>
			</li>
			<li>
				<h3>Screen Printing</h3>
				<p>Higher quality printing at a low cost</p>
			</li>
			<li>
				<h3>Professional Proofing</h3>
				<p>Experienced artists ensure the final product is just the way you want it.</p>
			</li>
		</ul>
	</div>
</div>
<div class="action">
	<div class="container bottom">
		<button>Get Started</button>
	</div>
</div>
