<div class="content" id="home">
	<div class="teaser">
		<div class="action">
			<div class="clickarea">
				<a href="step-2" class="button">Get Started &raquo;</a>
			</div>
		</div>
		<ul>
			<li>
				<%= image_tag('pay.png'); %>
				<h3>Easy Payments</h3>
				<p>No need to collect cash</p>
			</li>
			<li>
				<%= image_tag('drop.png', :class => 'drop'); %>
				<h3>Screen Printing</h3>
				<p>Commercial quality printing</p>
			</li>
			<li>
				<%= image_tag('proofing.png'); %>
				<h3>Professional Proofing</h3>
				<p>Ensure the final product is just the way you want it.</p>
			</li>
		</ul>
	</div>
	<div style="clear:both"></div>
</div>