<div class="content" id="next_steps">
	<h3>Next steps</h3>
	<ol>
		<li>
			<h4>Tell your friends</h4>
			<p>More orders = lower cost per shirt. Anyone can order at shirtHQ.com/~3j</p>
		</li>
		<li>
			<h4>Review your proof</h4>
			<p>You will get an email with your proof in about 24 hours</p>
		</li>
		<li>
			<h4>Distribute your shirts</h4>
			<p>All the shirts will be shipped to you to distribute</p>
		</li>
	</ol>
	<p class="check_status">You can check the status of your shirt at <a href="order">ShirtHQ.com/~3j/edit/a9h27hd</a></p>
</div>