<div class="content" id="order">
	<div class="preview">
		<div class="image_placeholder" style="width: 340px; height:250px;">Image Placeholder</div>
		<ul class="thumbs">
			<li><div class="image_placeholder">Image Placeholder</div></li>
			<li><div class="image_placeholder">Image Placeholder</div></li>
			<li><div class="image_placeholder">Image Placeholder</div></li>
		</ul>
	</div>
	<div class="order">
		<h3>T-Shirt Name</h3>
		<p class="time_left">3 days left to order</p>
		<p class="price">$11.73</p>
		<p class="next">If 11 more people order a shirt, it will only cost $10.51 for everyone.</p>
		<a class="button">Order a shirt</a>
	</div>
	<div style="clear:both"></div>
</div>