<div class="content all" id="payment">
	<h3>Payment and Shipping</h3>
	<div class="quantity">
		<table>
			<tr><th>Size</th><th>Quantity</th></tr>
			<tr><td>Extra Small</td><td><input type="text" value="0" /></td></tr>
			<tr><td>Small</td><td><input type="text" value="0" /></td></tr>
			<tr><td>Medium</td><td><input type="text" value="0" /></td></tr>
			<tr><td>Large</td><td><input type="text" value="0" /></td></tr>
			<tr><td>XL</td><td><input type="text" value="0" /></td></tr>
			<tr><td>XXL</td><td><input type="text" value="0" /></td></tr>
		</table>
	</div>
	<div class="shipping">
		<label for="shipping">Shipping method</label>
		<select name="shipping">
			<option>?</option>
			<option>?</option>
			<option>?</option>
			<option>?</option>
		</select>
		<p class="help">Estimated date for delivery <time>10/20/2011</time></p>
	</div>
	<div class="price">
		<p>Total: $12</p>
		<a class="price_table">(Price Table)</a>
	</div>

	<div class="order">
		<fieldset id="billing" class="form_section">
			<legend>Billing Information</legend>
			<div class="field">
				<label for="email">Email</label>
				<input type="text" name="email" id="email">
			</div>
			<div class="field">
				<label for="first">First name</label>
				<input type="text" name="first" id="first">
			</div>
			<div class="field">
				<label for="last">Last name</label>
				<input type="text" name="last" id="last">
			</div>
			<div class="field">
				<label for="address">Address line 1</label>
				<input type="text" name="address" id="address">
			</div>
			<div class="field">
				<label for="address">Address line 2</label>
				<input type="text" name="address" id="address">
			</div>
			<div class="field">
				<label for="city">City</label>
				<input type="text" name="city" id="city">
			</div>
			<div class="field">
				<label for="state">State</label>
				<input type="text" name="state" id="state">
			</div>
			<div class="field">
				<label for="zip">Zipcode</label>
				<input type="text" name="zip" id="zip">
			</div>
			<div class="field">
				<label for="cc_num">Card Number</label>
				<input type="text" name="cc_num" id="cc_num">
			</div>
			<div class="field">
				<label for="ccv">CCV</label>
				<input type="text" name="ccv" id="ccv">
			</div>
			<div class="field">
				<label for="first">Expiration</label>
				<input type="text" name="first" id="first">
			</div>
		</fieldset>
		<fieldset id="shipping" class="form_section">
			<legend>Shipping Information</legend>
			<div class="same">
				<input type="checkbox" name="same" /><label for="same">Same as billing</label>
			</div>
			<div class="field">
				<label for="first">First name</label>
				<input type="text" name="first" id="first">
			</div>
			<div class="field">
				<label for="last">Last name</label>
				<input type="text" name="last" id="last">
			</div>
			<div class="field">
				<label for="address">Address line 1</label>
				<input type="text" name="address" id="address">
			</div>
			<div class="field">
				<label for="address">Address line 2</label>
				<input type="text" name="address" id="address">
			</div>
			<div class="field">
				<label for="city">City</label>
				<input type="text" name="city" id="city">
			</div>
			<div class="field">
				<label for="state">State</label>
				<input type="text" name="state" id="state">
			</div>
			<div class="field">
				<label for="zip">Zipcode</label>
				<input type="text" name="zip" id="zip">
			</div>
		</fieldset>
		<a href="review-all" class="button">Review order &raquo;</a>
	</div>

	<div style="clear:both"></div>
</div>