<div class="content" id="review">
	<h3>Review</h3>
	<div class="style">
		<h4 class="top">Style</h4>
		<%= image_tag 'tshirt.png' %>
		<div class="color">
			<h4>Color</h4>
			<ul id="colors">
				<li><div style="background-color: purple">&nbsp;</div></li>
			</ul>
		</div>
	</div>
	<div class="front">
		<h4>Front</h4>
		<div class="image_placeholder">Image placeholder</div>
		<p>Location: middle</p>
	</div>
	<div class="back">
		<h4>Back</h4>
		<div class="image_placeholder">Image placeholder</div>
		<p>Location: middle</p>
	</div>
	<table class="text">
		<tr>
			<th>Text</th>
			<th>Location</th>
			<th>Font Size</th>
			<th>Font</th>
			<th>Color</th>
		</tr>
		<tr>
			<td>Lorem ipsum</td>
			<td>Front</td>
			<td>Large</td>
			<td>Arial</td>
			<td>Red</td>
		</tr>
	</table>
	<div class="shipping">
		<h4>Shipping Information</h4>
		<p>John<br />
			1234 XXX Road<br />
			St. Louis, MO 63130<br />
		</p>
	</div>
	<div class="order">
		<div class="quantity">
			<table>
				<tr><th>Size</th><th>Quantity</th></tr>
				<tr><td>Extra Small</td><td>2</td></tr>
				<tr><td>Small</td><td>4</td></tr>
				<tr><td>Medium</td><td>5</td></tr>
				<tr><td>Large</td><td>5</td></tr>
				<tr><td>XL</td><td>7</td></tr>
				<tr><td>XXL</td><td>2</td></tr>
			</table>
		</div>
		<h4>Credit Card Information</h4>
		<p>John<br />XXXX-XXXX-XXXX-1234</p>
		<p class="total">Total: $12</p>
	</div>
	<a class="button" href="status-indiv">Confirm &raquo;</a>
	<div style="clear:both"></div>
</div>