<div class="content" id="status">
	<div class="title">
		<h3>Shirt Status</h3>
		<a href="order">ShirtHQ.com/~3j</a>
	</div>
	<div id="left_column">
		<div class="pricing section">
			<h5>Pricing</h5>
			<table>
				<tr id="current_stats">
					<td id="orders_count" class="help_tag stat" title="13 people have committed to buy a shirt."><span class="amount">13</span><span class="text">orders<br />placed</span></td>
					<td id="current_price" class="help_tag stat" title="With 13 orders, this shirt will cost $11.73 each."><span class="amount">$11.73</span><span class="text">current<br />price</span></td>
				</tr>
				<tr id="next_stats">
					<td id="needed" class="help_tag stat" title="If 11 more people commit to buying a shirt, it will only cost $10.51 each."><span class="amount">11</span><span class="text">orders<br />needed</span></td>
					<td id="next_price" class="help_tag stat" title="If 11 more people commit to buying a shirt, it will only cost $10.51 each."><span class="amount">$10.51</span><span class="text">next<br />price</span></td>
				</tr>
			</table>
		</div>
		<div class="time section">
			<h5>Time remaining</h5>
		</div>
	
		<div class="shipping section">
			<h5>Shipping Address</h5>
			<p>Mark S. Wrighton<br />
				1 Brookings Drive<br />
				St. Louis, MO 63130
			</p>
		</div>
	</div>
	<div id="right_column">
		<div class="proof section">
			<h5>Proofing</h5>
			<div class="image_placeholder" style="width:100%">
				Image placeholder
			</div>
			<p class="larger"><a>View larger</a></p>
			<p class="action"><a class="accept button secondary">Accept</a><a class="revision button secondary">Request revision</a></p>
		</div>
		<div class="orders section">
			<h5>Orders</h5>
			<table>
				<tr>
					<th>Name</th>	
					<th>Size</th>
				</tr>
				<tr><td>Stan Rosenthal</td><td>M</td></tr>
				<tr><td>Omri Baumer</td><td>M</td></tr>
			</table>	
		</div>
	</div>
	<div style="clear:both"></div>
</div>
