<div class="content" id="style_color">
	<h3>Style and Color</h3>
	<p>Let's get started creating your shirt. Please select the style and color below.</p>

	<div id="style">
	<h4>Style</h4>
		<ul>
			<li>
				<%=image_tag 'tshirt.png' %>
				<p>T-Shirt</p>
			</li>
			<li>
				<%=image_tag 'vneck.png' %>
				<p>V-Neck</p>
			</li>
			<li>
				<%=image_tag 'tank.png' %>
				<p>Tank Top</p>
			</li>
			<li>
				<%=image_tag 'hoodie.png' %>
				<p>Hoodie</p>
			</li>
		</ul>
	</div>
	<div id="color">
		<h4>Color</h4>
		<div class="clickarea"><a href="step-3" class="button">Continue &raquo;</a></div>
		<ul id="colors">
			<li><div style="background-color: white">&nbsp;</div></li>
			<li><div style="background-color: green">&nbsp;</div></li>
			<li><div style="background-color: orange">&nbsp;</div></li>
			<li><div style="background-color: red">&nbsp;</div></li>
			<li><div style="background-color: yellow">&nbsp;</div></li>
			<li><div style="background-color: brown">&nbsp;</div></li>
			<li><div style="background-color: purple">&nbsp;</div></li>
			<li><div style="background-color: cyan">&nbsp;</div></li>
			<li><div style="background-color: blue">&nbsp;</div></li>
			<li><div style="background-color: magenta">&nbsp;</div></li>
			<li><div style="background-color: gray">&nbsp;</div></li>
			<li><div style="background-color: black">&nbsp;</div></li>
		</ul>
	</div>
	<div style="clear:both"></div>
</div>