<div class="content" id="upload">
	<h3>Upload your designs</h3>
		<div class="front side">
			<h4>Front</h4>
			<div class="image_placeholder">Upload Front Image</div>
			<div class="location">
				<label for="location">Location on shirt:</label>
				<select>
					<item>?</item>
					<item>?</item>
					<item>?</item>
					<item>?</item>
				</select>
			</div>
			<a class="secondary button">Add Text</a>
		</div>
		
		<div class="back side">
			<h4>Back</h4>
			<div class="image_placeholder">Upload Back Image</div>
			<div class="location">
				<label for="location">Location on shirt:</label>
				<select>
					<item>?</item>
					<item>?</item>
					<item>?</item>
					<item>?</item>
				</select>
			</div>
			<a class="secondary button">Add Text</a>
		</div>
		<div style="clear:both"></div>
		
		<div class="pay">
			<div class="indiv">
				<a class="button" href="pay-indiv">Pay individually &raquo;</a>
				<ul>
					<li>Each group member pays on their own card.</li>
					<li>The price drops for everyone as more people order.</li>
					<li>Specify how many days ordering will be open.</li>
				</ul>
			</div>
			<div class="all">
				<a class="addtext button" href="pay-all">Pay for all now &raquo;</a>
				<ul>
					<li>Pay for all shirts on one card.</li>
					<li>Specify how many shirts in each size.</li>
				</ul>
			</div>
		</div>
	<div style="clear:both"></div>
</div>